/*
==============================================
Shopping Cart application
==============================================
*/

.addItemToCart input{
	width: 300px;
}
.quantity{
	width: 50px;
}

.totalCost{
	width: 300px;
	float: left;
}
.itemsNumber{
	padding: 20px 0;
	width: 350px;
}
.itemsNumber span{
	color: darkred;
}
.totalCost span{
	color: darkred;
}
.removeButton{
	margin-top: 20px;
}
.addItemToCart h3, .cart h3{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
.itemsNumber, .totalCost{
	border-top: 1px solid black;
	padding-top: 20px;
}
.table thead tr th{
	border-bottom: 1px dashed black;
}
.table tbody tr td{
	border-top: 1px dashed black;
}





