/*
==============================================
Shopping Cart application
==============================================
*/

.addItemToCart input{
	width: 300px;
}
.quantity{
	width: 50px;
}

.totalCost{
	width: 300px;
	float: left;
}
.itemsNumber{
	padding: 20px 0;
	width: 350px;
}
.itemsNumber span{
	color: darkred;
}
.totalCost span{
	color: darkred;
}
.removeButton{
	margin-top: 20px;
}





